<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>boogle</title>
    <link rel="stylesheet" href="../static/css/Boogle_style.css">
</head>
<body>

    <div class="container">
        <div class="header">
            <div class ="header__link">
                <a href="#">Gmail</a>
            </div>
            <div class ="header__link">
                <a href="#">Images</a>
            </div>
            <div class ="header__link">
                <a href="#">google apps</a>
            </div>
            <div class ="header__link">
                <a href="#">Sign in</a>
            </div>
        </div>
        <div class="square : sq1">
            <div>
                <img class="pic" src="https://storage.googleapis.com/smartninja/boogle-1614873832.jpeg">
            </div>

        </div>
        <div class="square : sq2">
            <div class="sq2__search__base">
                <div class="footer1">
                    <input class="inText">
                </div>
                <div class="footer3">
                    <div class ="header__link">
                        <a href="#">keyboard</a>
                    </div>
                    <div class ="header__link">
                        <a href="#">Voice search</a>
                    </div>
                    <div class ="header__link">
                        <a href="#">Picture search</a>
                    </div>
                    <div class ="header__link">
                        <a href="#">AI mode</a>
                    </div>
                </div>
            </div>
            <div class="sq2__btn__base">
                <button class="sq2__btn" >Boogle Search</button>
                <button class="sq2__btn" >I˙m Feeling Lucky</button>
            </div>
        </div>
        <div class="square : sq3"> </div>
        <div class="footer1">
            <p class="country ">Croatia</p>
        </div>
        <div class="footer2">
            <div class="footer1">
                <div class ="header__link">
                    <a href="#">About us</a>
                </div>
                <div class ="header__link">
                    <a href="#">Adds</a>
                </div>
                <div class ="header__link">
                    <a href="#">Services</a>
                </div>
                <div class ="header__link">
                    <a href="#">How search works</a>
                </div>
            </div>
            <div class="footer3">
                <div class ="header__link">
                    <a href="#">Privacy</a>
                </div>
                <div class ="header__link">
                    <a href="#">Terms</a>
                </div>
                <div class ="header__link">
                    <a href="#">Settings</a>
                </div>
            </div>

        </div>
    </div>

</body>
</html>