<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other
    head content must come *after* these tags -->
    <title>Bootsweb</title>
    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <!-- JavaScript files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>

</head>
<body>
    <nav class=" navbar navbar-expand-lg navbar-light bg-warning">
        <a class="navbar-brand mr-auto" href="#">GIGAJ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" >
            <div class=" mr-auto ">
            </div>
            <form class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav mr-auto ">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Projects</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " data-toggle="modal" data-target="#ModalContact" href="#">Contact Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                        role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">English
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">中文 - Chinese</a>
                            <a class="dropdown-item" href="#">Français - French</a>
                            <a class="dropdown-item" href="#">Deutsch - German</a>
                            <a class="dropdown-item" href="#">日本語 - Japanese</a>
                            <a class="dropdown-item" href="#">한국어(대한민국) - Korean</a>
                            <a class="dropdown-item" href="#">Português - Portuguese</a>
                            <a class="dropdown-item" href="#">Русский - Russian</a>
                            <a class="dropdown-item" href="#">Español - Spanish</a>
                            <a class="dropdown-item" href="#">ไทย - Thai</a>
                        </div>
                    </li>
                </ul>
                <input class="form-control mr-sm-2" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../static/img/job1.jpg" class="d-block w-100" alt="job1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Commissioning</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static/img/job2.jpg" class="d-block w-100" alt="job2">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Testing</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static/img/job3.jpg" class="d-block w-100" alt="job3">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Production</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="container ">
        <h2 class="d-flex justify-content-center mt-4">Services</h2>
        <div class="row">
            <div class="card col-md m-2 bg-warning" >
                <img class="card-img-top mt-2 card-image" src="../static/img/cold.jpg" alt="Card image" >
                <div class="card-body">
                    <h4 class="card-title">Cold commission</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-outline-danger">more...</a>
                </div>
            </div>
            <div class="card col-md m-2 bg-warning" >
                <img class="card-img-top mt-2" src="../static/img/hot.jpg" alt="Card image" >
                <div class="card-body">
                    <h4 class="card-title">Hot commission</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-outline-danger">more...</a>
                </div>
            </div>
            <div class="card col-md m-2 bg-warning" >
                <img class="card-img-top mt-2" src="../static/img/trial.jpg" alt="Card image" >
                <div class="card-body">
                    <h4 class="card-title">Trial run</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-outline-danger">more...</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container ">
        <h2 class="d-flex justify-content-center mt-4">Projects</h2>
        <div class="row d-flex justify-content-between bg-warning m-1" >
            <div class=" col-md m-2 bg-warning align-content-center" >
                <div>
                    <h4>Waste incineration Vilnius, Lithuania</h4>
                    <p>Some example text some example text. John Doe is an architect and engineer</p>
                </div>
            </div>
            <div class="col-s m-2 bg-warning">
                <img src="../static/img/proj1.jpg" alt="Card image">
            </div>
        </div>
        <div class="row d-flex justify-content-between bg-warning m-1" >
            <div class=" col-md m-2 bg-warning align-content-center" >
                <div>
                    <h4>Gentse Warmte Centrale,Belgium</h4>
                    <p>Some example text some example text. John Doe is an architect and engineer</p>
                </div>

            </div>
            <div class="col-s m-2 bg-warning">
                <img src="../static/img/proj2.jpg" alt="Card image" >
            </div>
        </div>
        <div class="row d-flex justify-content-between bg-warning m-1" >
            <div class=" col-md m-2 bg-warning align-content-center" >
                <div>
                    <h4>Double A Alizay, France</h4>
                    <p>Some example text some example text. John Doe is an architect and engineer</p>
                </div>

            </div>
            <div class="col-s m-2 bg-warning">
                <img src="../static/img/proj3.jpg" alt="Card image" >
            </div>
        </div>
        <div class="row d-flex justify-content-between bg-warning m-1" >
            <div class=" col-md m-2 bg-warning align-content-center" >
                <div>
                    <h4>Ptolemais unit V, Ptolemaida, Greece</h4>
                    <p>Some example text some example text. John Doe is an architect and engineer</p>
                </div>

            </div>
            <div class="col-s m-2 bg-warning">
                <img src="../static/img/proj4.jpg" alt="Card image" >
            </div>
        </div>
        <div class="row d-flex justify-content-between bg-warning m-1" >
            <div class=" col-md m-2 bg-warning align-content-center" >
                <div>
                    <h4>CHP Ljubljana unit 4/5, Slovenia</h4>
                    <p>Some example text some example text. John Doe is an architect and engineer</p>
                </div>

            </div>
            <div class="col-s m-2 bg-warning">
                <img src="../static/img/proj5.jpg" alt="Card image" >
            </div>
        </div>
    </div>

    <div class="container ">
        <h2 class="d-flex justify-content-center mt-4">About Us</h2>
        <div class="row d-flex justify-content-between bg-warning m-1" >
            <div class=" col-md m-2 bg-warning align-content-center" >
                <div>
                    <h3 class="d-flex justify-content-center ">GIGAJ</h3>
                    <p>Founded in 2020 in Croatia, our company specializes in industrial automation and software engineering for high-performance, mission-critical environments. From the very beginning, our goal has been to combine deep technical expertise with reliable execution, helping energy and industrial facilities operate with greater efficiency, precision, and safety.

In just a few years, we have successfully delivered seven automation projects across power plants throughout the European Union. These projects span system integration, control system development, SCADA modernization, and tailored software solutions that ensure seamless and optimized plant operation. Our focus on quality, transparency, and long-term reliability has earned us strong working relationships with clients who trust us to support their most important infrastructure.

As a growing team of engineers and automation specialists, we continually invest in new technologies, industry standards, and innovative approaches. Whether modernizing existing systems or delivering complete automation solutions, we are committed to providing engineering that stands the test of time. Our mission is simple: empower industrial facilities with smart, robust, and future-ready automation.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container ">
        <h2 class="d-flex justify-content-center mt-4">Contact Us</h2>
        <div class="bg-warning d-flex justify-content-center">
            <form class=" col-md-6 mt-4">
                <div class="form-group ">
                    <label for="Nam1" >First name</label>
                    <input type="text" class="form-control" id="Nam1" placeholder="John">
                </div>
                <div class="form-group ">
                    <label for="Sur1">Last name</label>
                    <input type="text" class="form-control" id="Sur1" placeholder="Markovich">
                </div>
                <div class="form-group ">
                    <label for="Ema1">Email address</label>
                    <input type="email" class="form-control" id="Ema1" placeholder="name@example.com">
                </div>
                <div class="form-group">
                    <label for="Loc1">Location</label>
                    <select class="form-control " id="Loc1">
                        <option>Europe</option>
                        <option>N.America</option>
                        <option>S.America</option>
                        <option>Asia</option>
                        <option>Africa</option>
                        <option>Australia</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="How1">How can we help you?</label>
                    <textarea class="form-control" id="How1" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-outline-danger " type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade " id="ModalContact" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered " role="document">
            <div class="modal-content bg-warning">
                <div class="modal-header">
                    <h5 class="modal-title" >Contact form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="bg-warning d-flex justify-content-center">
                        <form class=" col-md-10 mt-4">
                            <div class="form-group ">
                                <label for="Nam2">First name</label>
                                <input type="text" class="form-control" id="Nam2" placeholder="John">
                            </div>
                            <div class="form-group ">
                                <label for="Sur2">Last name</label>
                                <input type="text" class="form-control" id="Sur2" placeholder="Markovich">
                            </div>
                            <div class="form-group ">
                                <label for="Ema2">Email address</label>
                                <input type="email" class="form-control" ID="Ema2" placeholder="name@example.com">
                            </div>
                            <div class="form-group">
                                <label for="Loc2">Location</label>
                                <select class="form-control " id="Loc2">
                                    <option>Europe</option>
                                    <option>N.America</option>
                                    <option>S.America</option>
                                    <option>Asia</option>
                                    <option>Africa</option>
                                    <option>Australia</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="How2">How can we help you?</label>
                                <textarea class="form-control" id="How2" rows="3"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-outline-danger">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <nav class=" navbar navbar-expand-lg navbar-light mt-4 bg-warning">
        <a class="navbar-brand mr-auto" href="#">GIGAJ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <div>
                <form class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav ml-2 ">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Linkedin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Github</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#">YouTube</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Telegram</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Facebook</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Instagram</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">TikTok</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#">X</a>
                    </li>
                </ul>

            </form>
            </div>
            <div class=" mr-auto ">
            </div>
            <form class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav mr-auto ">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Terms and Conditions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Privacy Policy</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#">Credits</a>
                    </li>
                </ul>

            </form>
        </div>
    </nav>
</body>
</html>




