<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fakebook</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="header">
        <div class="header-left">
            <h1 class="main-theme">FAKEBOOK </h1>
        </div>
        <div class="header-right">
            <input type="text" placeholder="email or phone">
            <input type="text" placeholder="password">
            <button>Login</button>
            <a href="https://www.w3schools.com/">forgot account?</a>
            <button >create new account</button>
        </div>
    </div>
    <div class="container">
        <div class ="timeline">
            <img src="https://news.artnet.com/app/news-upload/2024/03/aso-seinfeld-kramer-2-1024x572.jpg">
        </div>

        <div class="profile">
            <img src="/static/img/cosmo.jpg">
        </div>
        <div class="name-container">
         <p class="ime">Cosmo Kramer</p>
         <a class="followers" href="https://www.w3schools.com/">12M followers</a>
        </div>
        <div class="podaci">
            <p><b>City:</b> New York City</p>
            <p><b>Age:</b>44</p>
            <p><b>Job:</b>here and there</p>
            <p><b>Education:</b>GED</p>
        </div>


    </div>






</body >
</html>